.mycoursecontainer {
  background-color: #e4d9ff;
}
.topcoursesection {
  width: 100%;
  height: 230px;
}

.topcoursesectiontitle {
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
}
.topcoursesection > div {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.topcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rightsign {
  width: 24px;
  height: 24px;
}

.middlecoursesection {
  width: 100%;
  background-color: #fff;
}

.coursetitle {
  font-size: 40px;
  font-style: Kantumruy;
  margin-left: 20px;
  padding-top: 20px;
}

.coursecategory {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.Categorytext {
  color: #9ab723;
}

.coursedetails {
  display: flex;
  gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.leftside {
  flex: 2;
}
.rightside {
  flex: 1;
}

.video {
  position: relative;
  width: 100%;
  height: 472px;
}

.video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

.courseinfo {
  width: 200px;
  height: 50px;
  background: #7b287d;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

/* .review {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #d9d9d9;
  margin-left: 30px;
  border: none;
  font-size: 20px;
} */

.coursedes {
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: justify;
}

.seemoretext {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.bottomcoursedetails {
  width: 100%;
  border-radius: 10px;
  background: #e4d9ff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottomleft h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottomcoursesetails {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.bottomcoursesetails p {
  display: flex;
  gap: 5px;
}

.coursecontentstitle {
  color: #000;
  font-family: Kantumruy;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contentsinfo {
  width: 715px;
  height: 161px;
  padding-left: 30px;
  padding-right: 30px;
  background: white;
  padding-top: 10px;
}
.contentinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.courseoutline {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pricecontainer {
  width: 400px;
  height: 554px;
  background-color: #e4d9ff;
  border-radius: 10px;
}

.courseprice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
  margin-top: 30px;
}

.oldprice {
  color: #455a64;
  font-size: 22px;
  text-decoration: line-through;
  font-weight: 700;
  font-family: Kantumruy;
}

.newprice {
  font-size: 35px;
  font-weight: 700;
  font-family: Kantumruy;
}
.buybtn {
  width: 200px;
  height: 50px;
  background: #7b287d;
  border-radius: 55px;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.detailscourse {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.instructordetails {
  width: 380px;
  height: 730px;
  margin-top: 50px;
  padding-top: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #e4d9ff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.courseinstructorcard {
  width: 350px;
  height: 240px;
  margin: auto;
  border-radius: 10px;
  background: #fff;
}

.instructortitle {
  color: #000;
  text-align: justify;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
  margin-left: 18px;
}

.instructorinfo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.instructorimg {
  width: 130px;
  height: 130px;
  margin-left: 18px;
  margin-top: 28px;
}

.instructorname {
  color: #2d094f;
  text-align: justify;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.designation {
  color: rgba(33, 33, 33, 0.7);
  font-family: Kantumruy;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  /* line-height: normal; */
  line-height: 20px;
  margin-top: 10px;
}

.Material {
  margin-left: 33px;
  margin-top: 45px;
}
.Material h4 {
  color: #000;
  text-align: justify;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Material div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.requirements {
  margin-left: 33px;
  margin-top: 20px;
}
.requirements h4 {
  color: #000;
  text-align: justify;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.requirements div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .middlecoursesection {
    width: 100%;
    background-color: #fff;
  }

  .coursetitle {
    font-size: 35px;
    font-style: Kantumruy;
    margin-left: 20px;
    padding-top: 20px;
  }

  .coursecategory {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
  }

  .coursedetails {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .videocontainer {
    /* display: flex; */
    /* justify-content: center; */
    height: 500px;
  }

  .video {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .video iframe {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .courseinfo {
    width: 200px;
    height: 50px;
    background: #7b287d;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: white;
  }

  /* .review {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #d9d9d9;
    margin-left: 30px;
    border: none;
    font-size: 20px;
  } */

  .coursedes {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
  }

  .seemoretext {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
  }

  .bottomcoursedetails {
    width: 100%;
    border-radius: 10px;
    background: #e4d9ff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .bottomleft h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .bottomcoursesetails {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .bottomcoursesetails p {
    display: flex;
    gap: 5px;
  }
  .rightside {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }

  .coursecontentstitle {
    color: #000;
    font-family: Kantumruy;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contentsinfo {
    width: 715px;
    height: 161px;
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    padding-top: 10px;
  }
  .contentinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .courseoutline {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .pricecontainer {
    width: 400px;
    height: 554px;
    background-color: #e4d9ff;
    border-radius: 10px;
  }

  .courseprice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
    margin-top: 30px;
  }

  .oldprice {
    color: #455a64;
    font-size: 22px;
    text-decoration: line-through;
    font-weight: 700;
    font-family: Kantumruy;
  }

  .newprice {
    font-size: 35px;
    font-weight: 700;
    font-family: Kantumruy;
  }
  .buybtn {
    width: 200px;
    height: 50px;
    background: #7b287d;
    border-radius: 55px;
    font-size: 25px;
    color: white;
    font-weight: 700;
  }

  .detailscourse {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .instructordetails {
    width: 380px;
    height: 730px;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #e4d9ff;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  }

  .courseinstructorcard {
    width: 350px;
    height: 240px;
    margin: auto;
    border-radius: 10px;
    background: #fff;
  }

  .instructortitle {
    color: #000;
    text-align: justify;
    font-family: Kantumruy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
    margin-left: 18px;
  }

  .instructorinfo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
  }

  .instructorimg {
    width: 130px;
    height: 130px;
    margin-left: 18px;
    margin-top: 28px;
  }

  .instructorname {
    color: #2d094f;
    text-align: justify;
    font-family: Kantumruy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .designation {
    color: rgba(33, 33, 33, 0.7);
    font-family: Kantumruy;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
    line-height: 20px;
    margin-top: 10px;
  }

  .Material {
    margin-left: 33px;
    margin-top: 45px;
  }
  .Material h4 {
    color: #000;
    text-align: justify;
    font-family: Kantumruy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .Material div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .requirements {
    margin-left: 33px;
    margin-top: 20px;
  }
  .requirements h4 {
    color: #000;
    text-align: justify;
    font-family: Kantumruy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .requirements div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .topcoursesection {
    width: 100%;
    height: 230px;
  }

  .topcoursesectiontitle {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
  }
  .topcoursesection > div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }
  .topcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
  }

  .rightsign {
    width: 18px;
    height: 18px;
  }

  .middlecoursesection {
    width: 100%;
  }

  .coursetitle {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }

  .coursecategory {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 0px;
  }

  .coursedetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videocontainer {
    display: flex;
    justify-content: center;
  }
  .btncontainer {
    display: flex;
    justify-content: center;
  }

  .video {
    width: 90vw;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .courseinfo {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
  }

  /* .review {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #d9d9d9;
    margin-left: 30px;
    border: none;
    font-size: 20px;
  } */

  .coursedescontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coursedes {
    width: 90vw;
    margin-top: 16px;
    font-size: 17px;
    line-height: 25px;
  }

  .seemoretext {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .bottomcoursedetails {
    width: 100%;
    height: 100%;
    background: #e4d9ff;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .bottomleft h3 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .bottomcoursesetails {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    line-height: 20px;
  }
  /* .bottomcoursesetails {
    width: 80vw;
    margin: auto;
  }
  
  .bottomcoursesetails {
    width: 80vw;
    margin: auto;
  } */

  .coursecontentstitle {
    color: #000;
    font-family: Kantumruy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /* .coursecontents h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  } */

  .coursecontent {
    display: flex;
    flex-direction: column;
  }

  .contentsinfo {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    padding-top: 10px;
  }
  .contentinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .courseoutline {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .pricecontainer {
    width: 80vw;
    height: 370px;
  }

  .courseprice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    margin-top: 15px;
  }

  .oldprice {
    font-size: 15px;
    margin-bottom: 0;
  }

  .newprice {
    font-size: 25px;
    margin-bottom: 0;
  }
  .buybtn {
    width: 150px;
    height: 40px;
    font-size: 14px;
    border: none;
  }

  .detailscourse {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    line-height: 20px;
  }

  .instructordetails {
    width: 80vw;
    height: 750px;
    margin-top: 35px;
    padding-top: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .courseinstructorcard {
    width: 70vw;
    height: 300px;
  }

  .instructortitle {
    padding-top: 10px;
    margin-left: 18px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .instructorinfo {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 0px;
  }

  .instructorimg {
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .instructorname {
    text-align: center;
    font-size: 22px;
  }

  .designation {
    font-size: 15px;
    line-height: normal;
    margin-top: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .Material {
    margin-left: 33px;
    margin-top: 45px;
  }
  .Material h4 {
    color: #000;
    text-align: justify;
    font-family: Kantumruy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .Material div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .requirements {
    margin-left: 33px;
    margin-top: 20px;
  }
  .requirements h4 {
    color: #000;
    text-align: justify;
    font-family: Kantumruy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .requirements div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}
