* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navcontainer {
  width: 100%;
  height: 90px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.logo span {
  color: #fff;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.links {
  display: flex;
  font-weight: bold;
  gap: 15px;
}

.link {
  color: rgb(128, 128, 128);
  text-decoration: none;
}

/* .afterlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
} */
.login,
.signup {
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
}
.avatar {
  width: 50px;
  height: 50px;
}

.menuButton {
  display: none;
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .menuButton {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .buttons {
    display: none;
  }
  .mobileButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .mobileNav {
    display: block;
    position: absolute;
    top: 90px;
    right: 0;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 30px;
    height: calc(100vh - 90px);
    background-color: #e4d9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .mobileLinks a {
    color: rgb(128, 128, 128);
    text-decoration: none;
  }

  .mobileafterlogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
