* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
nav {
  background-color: whitesmoke;
  /* height: 200px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  max-width: 1378px;
  margin: auto;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav a:hover {
  color: #a69c9cdb;
}

nav li:first-child {
  margin-right: auto;
}

main {
  margin-top: 90px;
}

.nav {
  display: flex;
}

.logo-name {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  width: 50px;
  height: 50px;
  border: none;
  margin: 0 20px;
}

.dropdownContent {
  padding: 10px 10px;
  width: 140px;
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
}
/* .dropdownContent a {
  display: block;
  margin: 10px 10px;
} */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: #fff;
  /* backdrop-filter: blur(5px); */
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
}

.sidebar li {
  width: 100%;
  margin-left: 10px;
}

.sidebar a {
  width: 100%;
}
.sidebar a:hover {
  background-color: #f0f0f0;
}

.menu-button {
  display: none;
}

.login,
.signup {
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  background-color: rgba(194, 194, 201, 0.215);
  color: black;
}
.login:hover {
  background-color: rgba(127, 122, 122, 0.281);
}
.signup:hover {
  background-color: rgba(127, 122, 122, 0.281);
}

.search {
  display: flex;
  align-items: center;
}
.search-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 5px 40px 5px 15px;
  border-radius: 10px;
}
.submit-btn {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #7b287d;
  color: #fff;
  font-weight: 700;
}
@media only screen and (max-width: 800px) {
  .hideMobile {
    display: none;
  }
  .menu-button {
    display: block;
    margin-left: 0;
    margin-right: 10px;
  }
  .search-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
  }
  .search-input {
    padding: 5px 30px 5px 15px;
    border-radius: 10px;
  }
  .submit-btn {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #7b287d;
    color: #fff;
    font-weight: 700;
  }
}
@media only screen and (max-width: 400px) {
  /* .sidebar {
    width: 100%;
  } */
  .menu-button {
    display: block;
  }
}
