.ourcoursestitle {
  position: relative;
}

.ourcourses {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 68px;
  position: relative;
}
.category {
  width: 192px;
  height: 44px;
  border-radius: 100px;
  border: 2px solid #7435de;
  color: #000;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  right: 40px;
}

.ourcoursescontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.ourcoursescard {
  width: 290px;
  height: 315px;
  margin: auto;
  margin-bottom: 20px;
  /* background: linear-gradient(139deg, #c6bece 30.48%, #dbd7e2 75.07%); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
}

.ourcoursescardcardImg {
  width: 290px;
  height: 185px;
}

.ourcoursescardtitle {
  margin: 10px 0 15px 23px;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ourcoursescarddes {
  margin-left: 23px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: 13px;
  font-weight: 700;
  display: flex;
}

@media only screen and (max-width: 1080px) {
  .ourcoursescontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .ourcourses {
    font-size: 32px;
    margin-bottom: 85px;
  }

  .category {
    width: 197px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    top: 50px;
    left: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .ourcoursescontent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .ourcourses {
    font-size: 18px;
    margin-bottom: 68px;
  }

  .category {
    width: 80px;
    height: 25px;
    padding-left: 10px;
    font-size: 10px;
    top: 30px;
    left: 40%;
  }

  .ourcoursescard {
    width: 330px;
    height: 330px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
  }

  .ourcoursescardcardImg {
    width: 330px;
    height: 185px;
  }

  .ourcoursescardtitle {
    margin: 15px 0 15px 23px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
