.payment-container {
  background-color: rgba(240, 237, 237, 0.323);
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vw;
}

.payment-icon {
  width: 90px;
  height: 60px;
}

.payment-logos {
  padding: 20px;
}
.payment-logos h3 {
  color: #fe3063;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.payment-details {
  padding: 20px;
}

.payment-details h3 {
  margin-bottom: 50px;
  color: #fe3063;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Payment-Information {
  color: #271563;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.information {
  color: #271563;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.payment-img {
  width: 60px;
  height: 30px;
}

.transaction-info {
  color: #271563;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .payment-container {
    /* background-color: rgba(240, 237, 237, 0.323); */

    padding: 10px;
  }

  .payment-icon {
    width: 90px;
    height: 60px;
  }

  .payment-logos {
    padding: 20px;
  }
  .payment-logos h3 {
    color: #fe3063;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .payment-details {
    padding: 20px;
  }

  .payment-details h3 {
    margin-bottom: 50px;
    color: #fe3063;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .Payment-Information {
    color: #271563;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .information {
    color: #271563;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .payment-img {
    width: 60px;
    height: 30px;
  }

  .transaction-info {
    color: #271563;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
  }
}
