.payment-container {
  background-color: rgba(240, 237, 237, 0.323);
  /* height: 100vh; */
  /* background-color: #fe3063; */
  padding-top: 100px;
  padding-bottom: 100px;
}

.payment-icon {
  width: 90px;
  height: 60px;
}

.payment-logos {
  padding: 35px;
  border-radius: 30px;
  width: 400px;
  height: 182px;
  box-shadow: 2px 2px 11px black;
}
.payment-logos h3 {
  color: #fe3063;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.payment-details {
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 11px black;
}

.payment-details h3 {
  margin-top: 15px;
  margin-bottom: 50px;
  color: #fe3063;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Payment-Information {
  color: #271563;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.information {
  color: #271563;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bkash img {
  width: 118px;
  height: 61px;
}

.transaction-info {
  color: #271563;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .payment-container {
    /* background-color: rgba(240, 237, 237, 0.323); */

    padding: 10px;
  }

  .payment-icon {
    width: 90px;
    height: 60px;
  }

  .payment-logos {
    padding: 35px;
    border-radius: 30px;
    width: 100%;
    height: 182px;
    margin-bottom: 20px;
  }
  .payment-logos h3 {
    color: #fe3063;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .payment-details {
    width: 100%;
    border-radius: 30px;
    padding: 25px;
    background-color: #fff;
    margin: 0px;
  }

  .payment-details h3 {
    margin-top: 15px;
    margin-bottom: 50px;
    color: #fe3063;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .Payment-Information {
    color: #271563;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .information {
    color: #271563;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .bkash img {
    width: 118px;
    height: 61px;
  }

  .transaction-info {
    color: #271563;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
  }
}
