.container {
  position: relative;
}
.reviews {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.yourfeedback {
  position: absolute;
  top: -7px;
  right: 32px;
  width: 264px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid #cbf3d2;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Kanit;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.feedbackicon {
  width: 24px;
  height: 24px;
}

.reviewtop {
  width: 100%;
  height: 294px;
  margin: auto;
  background: rgba(217, 217, 217, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 47px;
}
.topcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topcard p {
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 18px;
}
.topcard h3 {
  width: 299px;
  height: 135px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  color: #af6152;
  font-family: Kameron;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middletitle {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardcontainer {
  background: rgba(217, 217, 217, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 104px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .reviews {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 12px;
  }

  .yourfeedback {
    position: absolute;
    top: 15px;
    right: 32px;
    width: 97px;
    height: 19px;
    font-size: 10px;
  }

  .feedbackicon {
    width: 14px;
    height: 14px;
  }
  .reviewtop {
    height: 93px;
    margin: auto;
    padding-top: 14px;
  }

  .topcard p {
    font-size: 8px;
    margin-bottom: 8px;
  }
  .topcard h3 {
    width: 66px;
    height: 38px;
    border-radius: 5px;
    font-size: 15px;
  }
  .middletitle {
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .cardcontainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 19px;
  }
}

.card {
  width: 295px;
  height: 332px !important;
  margin: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardimg {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.customername {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

.username,
.active {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.startcontainer {
  margin-top: 3px;
}
.star {
  width: 24px;
  height: 24px;
  margin-right: 9px;
  margin-top: 3px;
}

/* .gmail,
  .gallery {
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 25px;
  } */

.cardbottom {
  width: 250px;
  height: 41px;
  text-align: justify;
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 108px;
    height: 139px;
    border-radius: 5px;
  }
  .cardimg {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
  }

  .customername {
    font-size: 8px;
    margin-bottom: 2px;
  }

  .username,
  .active {
    font-size: 6px;
  }

  .startcontainer {
    margin-top: 2px;
  }
  .star {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-top: 1px;
  }

  /* .gmail,
    .gallery {
      width: 24px;
      height: 24px;
      margin-top: 20px;
      margin-right: 15px;
      margin-bottom: 25px;
    } */

  .cardbottom {
    width: 101px;
    height: 23px;
    margin-top: 8px;
    font-size: 5px;
  }
}

/* bottom feedback section design  */

.feedbackcontainer {
  margin-top: 10px;
  background: rgba(217, 217, 217, 0.2);
}
.formcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feedbacktitle {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 107px;
  margin-bottom: 150px;
}

.leftside label {
  width: 129px;
  height: 52px;
  text-align: center;
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.leftside div {
  margin-bottom: 44px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name input {
  width: 442px;
  height: 65px;
  border-radius: 20px;
  background: #fff;
  padding-left: 15px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  margin-left: 33px;
  border: none;
}

.name input::placeholder {
  color: rgba(0, 0, 0, 0.37);
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile input {
  width: 442px;
  height: 65px;
  border-radius: 20px;
  background: #fff;
  padding-left: 15px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  margin-left: 19px;
  border: none;
}

.mobile input::placeholder {
  color: rgba(0, 0, 0, 0.37);
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ratings {
  display: flex;
  gap: 20px;
}
.ratings div {
  display: flex;
  gap: 15px;
  color: orange;
}
.ratings input {
  display: none;
}
.ratings input + label {
  font-size: 30px;
  text-shadow: 1px 1px 0px #000;
  cursor: pointer;
}
.ratings input:checked + label ~ label {
  color: #838383;
}
/* 
.ratings label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
} */

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message textarea {
  width: 442px;
  height: 151px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  padding-top: 50px;
  border: none;
}

.message textarea::placeholder {
  color: rgba(0, 0, 0, 0.37);
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.inputimg {
  width: 309px;
  height: 254px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file[type="file"] {
  display: none;
}
.inputimglabel {
  color: rgba(0, 0, 0, 0.37);
  text-align: center;
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit {
  width: 155px;
  height: 49px;
  color: #fff;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 100px;
  background: #7b287d;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  margin-top: 51px;
  border: none;
}

@media only screen and (max-width: 768px) {
  .feedbackcontainer {
    padding-bottom: 20px;
  }
  .feedbacktitle {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .formcontainer {
    display: flex;
    flex-direction: column;
  }

  .leftside label {
    width: 36px;
    height: 7px;
    font-size: 8px;
  }

  .leftside div {
    margin-bottom: 25px;
  }

  .name input {
    width: 235px;
    height: 30px;
    border-radius: 0px;
    padding-left: 6px;
    margin-left: 19px;
  }

  .name input::placeholder {
    font-size: 7px;
  }

  .mobile input {
    width: 235px;
    height: 30px;
    border-radius: 0;
    padding-left: 6px;
    margin-left: 15px;
  }

  .mobile input::placeholder {
    font-size: 7px;
  }

  .message {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .message textarea {
    width: 235px;
    height: 65px;
    border-radius: 0px;
    padding-left: 6px;
    padding-top: 5px;
  }

  .message textarea::placeholder {
    font-size: 8px;
  }

  .ratings {
    display: flex;
  }

  .rating {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  .rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputimg {
    width: 150px;
    height: 70px;
    border-radius: 10px;
  }

  .file[type="file"] {
    display: none;
  }
  .inputimglabel {
    font-size: 13px;
  }

  .submit {
    width: 59px;
    height: 19px;
    font-size: 8px;
    margin-top: 25px;
  }
}
