.offlineservicecontainer {
  /* background: #e4d9ff; */
  background-color: white;
  width: 100%;
}

.topText {
  text-align: center;
  padding-top: 72px;
  width: 55vw;
  margin: auto;
}

.topFirst {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 31px;
}

.toptitle {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 28px;
}

.topdes {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.banner {
  width: 100%;
  height: 287px;
  background: #7a8aff;
  margin-top: 23px;
  display: flex;
  gap: 172px;
  justify-content: space-evenly;
}

.bannerText {
  flex: 1;
  margin-top: 57px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6px;
}

.bannerTitle {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.bannerdesc {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  width: 445px;
  height: 87px;
}

.bannerBottom {
  display: flex;
  gap: 50px;
}

.paidCourse {
  color: white;
  font-family: Kantumruy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 6px;
  padding-right: 6px;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.freeCourse {
  color: white;

  font-family: Kantumruy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  text-decoration: none;
}

.bannerImg {
  flex: 1;
  width: 100%;
  height: 281px;
}

@media only screen and (max-width: 768px) {
  .offlineservicecontainer {
    /* background: #e4d9ff; */
    background-color: white;
    width: 100%;
  }

  .topText {
    padding-top: 15px;
    width: 80vw;
    margin: auto;
  }

  .topFirst {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .toptitle {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .topdes {
    font-size: 8px;
    font-weight: 300;
  }

  .banner {
    width: 100%;
    height: 107px;
    margin-top: 15px;
    gap: 5px;
  }

  .bannerText {
    flex: 1;
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 3px;
  }

  .bannerTitle {
    color: #000;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .bannerdesc {
    font-size: 8px;
    font-weight: 400;
    width: 174px;
    height: 30px;
  }

  .bannerBottom {
    display: flex;
    gap: 11px;
  }

  .paidCourse {
    font-size: 8px;
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .freeCourse {
    font-size: 8px;
  }
  .bannerImg {
    width: 100%;
    height: 107px;
  }
}

.paidcoursecontainer {
  /* width: 100%; */
  /* margin: auto; */
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texttitle {
  color: #000;
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.coursesearchfield {
  width: 367px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border-radius: 100px;
  background: #d9d9d9;
  position: relative;
}

.coursesearch {
  background: #d9d9d9;
  padding-left: 10px;
  border-radius: 100px;
  border: none;
  width: 367px;
  height: 46px;
  border: none;
  outline: none;
}
.coursesearch::placeholder {
  border: none;
}

.cardContainer {
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .paidcoursecontainer {
    width: 85vw;
    margin: auto;
    margin-top: 15px;
  }

  .textContainer {
    flex-direction: column-reverse;
  }

  .texttitle {
    margin-top: 11px;
    font-size: 18px;
  }

  .coursesearchfield {
    width: 270px;
    height: 35px;
  }

  .coursesearch {
    width: 270px;
    height: 35px;
  }

  .cardContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    /* gap: 10px; */
  }
}

.paidcoursecard {
  width: 300px;
  height: 372px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.paidcoursecardimg {
  width: 300px;
  height: 220px;
}

.cardDetails {
  margin-top: 16px;
  margin-left: 10px;
}

.cardDetails h2 {
  margin-bottom: 20px;
  color: #000;
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cardDetails p {
  color: #000;
  font-family: Kantumruy;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.offerprice {
  color: #cd4d6d;
  text-align: center;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 21px;
}

.beforeprice {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
}

@media only screen and (max-width: 768px) {
  .paidcoursecard {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin: auto;
  }

  .paidcoursecardimg {
    width: 200px;
    height: 120px;
  }

  .cardDetails {
    margin-top: 6px;
    margin-left: 10px;
  }

  .cardDetails h2 {
    margin-bottom: 3px;
    font-size: 10px;
    margin-bottom: 5px;
  }

  .cardDetails p {
    font-size: 8px;
    margin-bottom: 3px;
  }

  .offerprice {
    font-size: 8px;
    margin-right: 8px;
  }

  .beforeprice {
    font-size: 8px;
  }
}

/* price plan style  */
.priccontainer {
  width: 80vw;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 40px;
}

.toptitle {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.title {
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 31px;
  margin-bottom: 96px;
}
.pricecardContainer {
  display: flex;
  gap: 21px;
}
.pricecard {
  width: 400px;
  height: 650px;
  margin: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cardtitle {
  color: #000;
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 43px;
  margin-bottom: 21px;
}

.cardprice {
  width: 188px;
  height: 188px;
  color: #af6152;
  text-align: center;
  font-family: Kantumruy;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  background: #d5f856;
  border-radius: 50%;
  padding: 55px 30px 55px 30px;
  margin-bottom: 34px;
}

.cardDetails {
  margin-bottom: 10px;
}

.cardDetails p {
  color: #000;
  font-family: Kantumruy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 12px;
}
.rightsign {
  width: 24px;
  height: 24px;
}

.crosssign {
  width: 24px;
  height: 24px;
}

.cardbutton {
  width: 230px;
  height: 56px;
  border-radius: 20px;
  background: #d5f856;
  color: #000;
  text-align: center;
  font-family: Kantumruy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media only screen and (max-width: 768px) {
  .priccontainer {
    width: 100%;
    margin-top: 25px;
    padding-bottom: 50px;
  }

  .toptitle {
    font-size: 12px;
  }

  .title {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 25px;
  }

  .pricecardContainer {
    flex-direction: column;
    gap: 15px;
  }
  .pricecard {
    width: 200px;
    height: 260px;
    margin-bottom: 0px;
  }

  .cardtitle {
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 9px;
  }

  .cardprice {
    width: 67px;
    height: 67px;
    font-size: 16px;
    padding: 28px 15px 45px 15px;
    margin-bottom: 13px;
  }

  .cardDetails {
    margin-bottom: 16px;
  }

  .rightsign {
    width: 12px;
    height: 12px;
  }

  .crosssign {
    width: 12px;
    height: 12px;
  }

  .cardDetails p {
    font-size: 12px;
    gap: 10px;
  }

  .cardbutton {
    width: 82px;
    height: 20px;
    border-radius: 20px;
    font-size: 10px;
  }
}
