* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-fixed-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.whatsapp {
  width: 50px;
  font-size: 15px;
  background-color: rgb(85, 226, 85);
  border-radius: 20px;
}

/* .phone {
  width: 50px;
  font-size: 15px;
  background-color: rgb(85, 144, 226);
  border-radius: 20px;
} */
