* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  max-width: 1400px;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

.right-fixed-button {
  position: fixed;
  right: 150px;
  bottom: 20px;
  z-index: 1;
}

.whatsapp {
  width: 50px;
  font-size: 15px;
  background-color: rgb(85, 226, 85);
  border-radius: 20px;
}

/* .phone {
  width: 50px;
  font-size: 15px;
  background-color: rgb(85, 144, 226);
  border-radius: 20px;
} */

@media only screen and (max-width: 768px) {
  .right-fixed-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
  }
}
